<div class="row">
	<div class="col">
		<div class="text-left">
			<h2>Join Rooms</h2>
			<button class="btn btn-primary verticle-align">
				<a href="/rooms/newRoom">Create Room</a>
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<ul>
			{{#each rooms as |room|}}
			<li>
				<a href="/rooms/{{room.id}}">{{room.topic}}</a> | <a href="/rooms/{{room.id}}/edit">edit</a>
			</li>
			{{/each}}
		</ul>
	</div>
</div>