<div>
	<h2>Room: {{room.topic}}</h2>
	<h6>Posts:</h4>
</div>

<div class="row justify-content-center">
	<div class="col-8">
		{{#each posts as |post|}}
		<div class="card mb-3">
			<div class="card-body">
				<h3 class="card-title text-center">{{post.subject}}</h3>
				<p>{{post.body}}</p>
			</div>
		</div>
		{{/each}}

	</div>
</div>

<div><a href="/rooms/{{room.id}}/posts/newPost">New Post</a></div>